* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body h1 {
    font-family: 'Georgia', serif;
    background-color: #ffffff;
    color: #050505;
}

header {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background-image: url('hero-background.jpg');
    background-size: cover;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.cta-button {
    background-color: #c40d0d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.cta-button:hover {
    background-color: #ff0000;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.producto {
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
    text-align: center;
    width: 250px;
}

.producto img {
    max-width: 100%;
    border-radius: 10px;
}

.precio {
    font-size: 1.5em;
    color: #ff0000;
    margin-top: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #000;
    color: #fff;
}
